<div class="page-header">
    <h3 class="page-title"> Change Password</h3>
</div>
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <form class="forms-sample" [formGroup]="updatePswdForm" (ngSubmit)="UpdatePassword()" #myform="ngForm">
                <div class="form-group">
                    <label for="oldPswrd">Old Password</label>
                    <input type="password" class="form-control" id="password" [(ngModel)]="oldPassword"
                        formControlName="oldPassword"  placeholder="Current Password">                    
                    <div *ngIf="(updatePswdForm.get('oldPassword')?.hasError('required')  && submitted)">
                        <small class="text-danger">Please enter password</small>
                    </div>
                </div>
                <div class="form-group">
                    <label for="newPswrd">New Password</label>
                    <input type="password" class="form-control" id="password" [(ngModel)]="newPassword"
                        formControlName="password" [pattern]="passwordPattern" placeholder="Password">
                    <div *ngIf="updatePswdForm.get('password')?.errors?.['pattern'] ">
                        <small class="text-danger">Password must contain at least one number, one uppercase, symbol and
                            a lowercase letter and at least 8 characters<br />Password cannot
                            contain whitespace</small>
                    </div>
                    <div *ngIf="(updatePswdForm.get('password')?.hasError('required')  && submitted)">
                        <small class="text-danger">Please enter password</small>
                    </div>
                </div>
                <div class="form-group">
                    <label for="repeatPswrd">Repeat Password</label>
                    <input type="password" class="form-control" id="confirm_password" formControlName="confirmPassword"
                        [pattern]="passwordPattern" [(ngModel)]="confirmPassword" placeholder="Password">
                    <div *ngIf="updatePswdForm.get('confirmPassword')?.errors?.['pattern']">
                        <small class="text-danger">Password must contain at least one number, one uppercase, symbol and
                            a lowercase letterand at least 8 characters<br />Password cannot
                            contain whitespace</small>
                    </div>
                    <div *ngIf="(updatePswdForm.get('confirmPassword')?.hasError('required')  && submitted)">
                        <small class="text-danger">Please confirm password</small>
                    </div>
                    <div *ngIf="passwordMatch">
                        <small class="text-danger">Password do not match</small>
                    </div>
                </div>
                <app-notification [_header] = 'notificationHeader' [_message] = 'notificationMsg' [_alertType] = 'notificationType' ></app-notification>
                <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
                <button class="btn btn-light" (click)="Cancel()">Cancel</button>
            </form>
        </div>
    </div>
</div>