<div class="alert alert-success" role="alert" *ngIf="_alertType == 'success'">
    <strong>{{_header}}</strong> {{_message}}
</div>
<div class="alert alert-info" role="alert" *ngIf="_alertType == 'info'">
    <strong>{{_header}}</strong> {{_message}}
</div>
<div class="alert alert-warning" role="alert" *ngIf="_alertType == 'warning'">
    <strong>{{_header}}</strong> {{_message}}
</div>
<div class="alert alert-danger" role="alert" *ngIf="_alertType == 'danger'">
    <strong>{{_header}}</strong> {{_message}}
</div>