<div class="page-header">
    <h3 class="page-title">Tasks Assigned to Me </h3>
</div>

<div class="card">
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>  </th>
                    <th> # </th>
                    <th> Task Name </th>
                    <th> Task Description </th>
                    <th> Created person </th>
                    <th> Create date </th>                    
                    <th>  </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let task of tasks">
                    <td>  <input class="checkbox" type="checkbox" [checked]="task.isDone" [disabled]="task.isDone"> </td>
                    <td> {{ task.id }} </td>
                    <td> {{ task.taskName }} </td>
                    <td> {{ task.taskDescription }} </td>
                    <td> {{ task.createdDate }} </td>
                    <td> {{ task.createUserFullName }} </td> 
                    <td> 
                        <a class="nav-link" (click)="Navigate(task.id)">
                            <i class="mdi mdi-information-outline"></i>
                        </a>
                    </td>                  
                    <!-- <td>
                        <a class="nav-link">
                            <i class="mdi mdi-comment"></i>
                        </a>
                    </td> -->
                </tr>
            </tbody>
        </table>
    </div>
</div>
