.profile-image, img {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 50%;
  }
  
  .space
  {
    margin:0; padding:0; height:30px;
  }

  .form-control
  {
    background-color: white;
    border: none;
    font-size: 16px;
    padding: 0;
  }