.profile-image,
img {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 50%;
}

.space {
  margin: 0;
  padding: 0;
  height: 30px;
}

.image-container {
  position: relative;
}

.image-container img {
  display: block;
}

.image-container .mdi-camera {
  position: absolute;
  bottom: 0;
  text-align: center;
  color: #b66dff;
  font-size: large;
}